*{
                /* anything in here applies to everything, unless overwritten; could do margin=0, padding=0 to reset browser style */

                font-family: Tahoma, sans-serif;
            }

form{
	padding: 5px 40px;
}

header{
	margin:0;
	padding:0;
	font-size: 1.5em;
	font-family: Tahoma;
	word-spacing: .5em;
	text-transform: uppercase;
	letter-spacing: .15em;
}

body{
	background-color: #f6f6f6;
	color: #0A0A0A;
	font-family: Helvetica, trebuchet, sans-serif;
	font-size: 18px;
	line-height: 1.8em;
	margin: 0; /*this is here because of collapsible margins*/
}

.container{
	width:80%;
	text-align:justify;
	margin:auto;
	max-width: 80ch;
}

.data{
	display: flex;
	flex-direction: row;
	margin: 30px;
}

.button{
	background-color: powderblue;
	color: #333;
	padding: 10px 15px;
	margin: 0px;
	border: 0px;
	transition: 0.5s;
}

.button:hover{
	background-color: #333;
	color: powderblue;
}

::selection{
	background-color: #90EE90CC;
	color: white;  
	width: auto;              
}

input[type=file]::file-selector-button {
	background-color: powderblue;
	color: #333;
	padding: 10px 15px
	margin: 0px;
	border: 0px;
	transition: 0.5s;
}

input[type=file]::file-selector-button:hover{
	background-color: #333;
	color: powderblue;
}

input[type=file]::-webkit-file-upload-button{
	background-color: powderblue;
	color: #333;
	padding: 10px 15px
	margin: 0px;
	border: 0px;
	transition: 0.5s;
}

input[type=file]::-webkit-file-upload-button:hover{
	background-color: #333;
	color: powderblue;
}


.gradientText{
	background-image:
		linear-gradient(90deg, powderblue, lightgreen);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;

}

.gradientEmph{
	font-style: bold;
	background-image:
		linear-gradient(90deg, powderblue, lightgreen);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 0% 3px;
	transition: background-size 1s ease;
}

.gradientEmph:hover{
	background-size: 100% 3px;
}

#main-header p{
	display: inline;
}

#main-footer{
	text-align: center;
	background-color: #034;
	color: white;
	padding: 10px;
}

#body{
	align-self: center;
	line-height: 1.6rem;
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 2em;
	max-width: 40em;
}

#main-header{
	text-align: center;
	font-size: 4em;
	line-height: 4.5rem;
	background-color: #034;
	color: white;
	/*text-shadow:
		0.05em 0.05em 0 #0f9,
		0.1em 0.1em 0 #0a9,
		0.15em 0.15em 0 #06f;*/
	padding: 10px;
	margin: 0px;
	width: auto;
	overflow-wrap: break-word;
}

#nav-bar{
	position: -webkit-sticky;
	position: sticky;
	text-align: left;
	width: auto;
	margin: auto;
	top: 0;
	background-color: powderblue;
	color: black;
	padding: 5px 10px;
}